@model IEnumerable<_148075._148159.PhonesCatalog.Interfaces.IPhone>

@{
    ViewData["Title"] = "Phones";
}

<h1>Phones</h1>

<p>
    <a asp-action="Create">Add new phone</a>
</p>

<form asp-controller="Phones" asp-action="Index" method="get">
    <div class="form-group">
        <label for="searchTerm">Search by phone name:</label>
        <input type="text" name="searchTerm" id="searchTerm" class="form-control" />
    </div>

    <div class="form-group">
        <label for="filterByProducer">Filter by producer:</label>
        <select name="filterByProducer" class="form-control">
            <option value="">-- Select producer --</option>
            @foreach (var producer in ViewBag.ProducerFilterOptions)
            {
                <option value="@producer">@producer</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="filterBySoftwareType">Filter by software:</label>
        <select name="filterBySoftwareType" class="form-control">
            <option value="">-- Select software --</option>
            @foreach (var softwareType in ViewBag.SoftwareTypeFilterOptions)
            {
                <option value="@softwareType">@softwareType</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="filterByYear">Filter by year of production:</label>
        <select name="filterByYear" class="form-control">
            <option value="">-- Select year of production --</option>
            @foreach (var year in ViewBag.YearFilterOptions)
            {
                <option value="@year">@year</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearOfProduction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlreadySold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoftwareType)
            </th>
            <th>
                Producer Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfProduction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlreadySold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoftwareType)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Producer.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
