@model IEnumerable<_148075._148159.PhonesCatalog.Interfaces.IPhone>

@{
    ViewData["Title"] = "Phones";
}

<style>
    body {
        background-color: #f8f9fa;
    }

    h1 {
        color: #000000;
        justify-content: center;
        display: flex;
    }

    .search-form {
        max-width: 600px;
        margin: auto;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .custom-margin {
        margin: 10px;
    }

    .button-container {
        margin-top: 5px;
        justify-content: center;
        display: flex;
    }

    .table-container {
        max-width: 1000px;
        margin: auto;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
    }

        .table-container th {
            text-align: center;
        }

        .table-container td {
            text-align: center;
        }

        .table-container a {
            margin: 0 5px;
            color: #007bff;
        }
</style>

<h1>Phones</h1>

<div class="button-container">
    <p>
        <a asp-action="Create" class="btn btn-primary">Add new phone</a>
    </p>
</div>

<div class="search-form">
    <form asp-controller="Phones" asp-action="Index" method="get">
        <div class="form-group">
            <label for="searchTerm">Search by phone name:</label>
            <input type="text" name="searchTerm" id="searchTerm" class="form-control" />
        </div>

        <div class="form-group">
            <label for="filterByProducer">Filter by producer:</label>
            <select name="filterByProducer" class="form-control">
                <option value="">-- Select producer --</option>
                @foreach (var producer in ViewBag.ProducerFilterOptions)
                {
                    <option value="@producer">@producer</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="filterBySoftwareType">Filter by software:</label>
            <select name="filterBySoftwareType" class="form-control">
                <option value="">-- Select software --</option>
                @foreach (var softwareType in ViewBag.SoftwareTypeFilterOptions)
                {
                    <option value="@softwareType">@softwareType</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="filterByYear">Filter by year of production:</label>
            <select name="filterByYear" class="form-control">
                <option value="">-- Select year of production --</option>
                @foreach (var year in ViewBag.YearFilterOptions)
                {
                    <option value="@year">@year</option>
                }
            </select>
        </div>
        <div class="button-container">
        <button type="submit" class="btn btn-primary custom-margin">Search</button>
        </div>
    </form>
</div>

<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Year of production
                </th>
                <th>
                    Number of sold products
                </th>
                <th>
                    Price
                </th>
                <th>
                    Software
                </th>
                <th>
                    Producer Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YearOfProduction)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AlreadySold)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoftwareType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producer.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
